@model Epsid19.Injections

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Injections</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Marque" class="control-label"></label>
                <input asp-for="Marque" class="form-control" />
                <span asp-validation-for="Marque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumLot" class="control-label"></label>
                <input asp-for="NumLot" class="form-control" />
                <span asp-validation-for="NumLot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateInjection" class="control-label"></label>
                <input asp-for="DateInjection" class="form-control" />
                <span asp-validation-for="DateInjection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateRappel" class="control-label"></label>
                <input asp-for="DateRappel" class="form-control" />
                <span asp-validation-for="DateRappel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeVaccin" class="control-label"></label>
                <input asp-for="TypeVaccin" class="form-control" />
                <span asp-validation-for="TypeVaccin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
